.header {
  margin-top: 1.5rem;

  .logo {
    font-family: 'Rufina', serif;
  }
}

.fa-star {
  color: #0074D9;
  font-size: 1.5rem;
  margin: 0.5rem;
}

.fa-sync-alt {
  color: #008000
}

.check-btn {
  padding: 0;
}

.number {
  span {
    background-color: #cccccc;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0.5rem;
    text-align: center;
    width: 1.5rem;
  }

  .selected {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
  }

  .used {
    background-color: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
  }

  .answer {
    background-color: #99bb99;
  }
}

button:disabled {
  cursor: not-allowed;
}

.how-to-play {
  li {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    margin-top: 0.625rem;
  }

  h4 {
    background-color: #e1f5fe;
  }

  mark {
    background-color: #5A6268;
    color: #ffffff;
  }
}

.timer {
  h3 {
    display: inline-block;
  }

  .minutes, .seconds {
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 0.3125rem;
  }

  .minutes-sign, .seconds-sign {
    font-size: 1.375rem;
  }

  .set-time {
    margin-left: 0.625rem;
    margin-top: -0.625rem;

    button {
      background-color: #ffffff;
    }
  }
}
